body {
    padding-top: 50px;
    padding-bottom: 20px
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

body {
    margin: 0;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
}

li {
    list-style: none
}

#MasterTopNavigationBar {
    background-color: #eeeeee;
    height: 100px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%
}

#MasterAccountInfoTopBar {
    text-align: right;
    float: none;
    margin-bottom: 10px
}

#MasterFooter {
    background-color: #eeeeee;
    font-size: 10px;
    text-align: center;
    border-style: solid none none none;
    border-width: thin;
    border-color: #333333;
    width: 100%;
    height: 100px;
    /*padding-left: 5%;
    padding-right: 5%;*/
    padding-bottom: 1px;
    bottom: 0px;
    position: absolute
}

#RegisterFormDescription {
    float: left;
    width: 100%;
    height: 200px;
    margin-right: -502px;
    background-image: url("http://s.discogs.com/images/get_started/album-covers.jpg");
    background-blend-mode: screen;
    background-color: #0fefff;
    text-align: left;
    padding-left: 100px
}

#RegisterForm {
    text-align: center;
    border: thin solid #ffffff;
    float: left;
    width: 400px;
    background-color: #eeeeee
}
