@{
    ViewData["Title"] = "Showing Profile";
}

<h2>Profile</h2>
<ul>
    <li>ID: @ViewData["UserId"]</li>
    <li>Name: @ViewData["UserName"]</li>
    <li>Email: @ViewData["UserEmail"]</li>
</ul>
<p>Editing props</p>