@model List<pr2.Models.Record>
@{
    ViewData["Title"] = "Home Page";
}
@if(ViewData["Search"] != null){
    <p>Searching for: @ViewData["Search"]</p>
}

<table>
    @for (int k = 0; k < 2; k++){
    <tr>
    @for (int i = (Model.Count/2)*k; i < (Model.Count/2)*k+(Model.Count/2); i++)
    {
            <td style="width: 150px; height: 200px; text-align: center; border: thin solid #000000;">
                @if(string.IsNullOrEmpty(Model[i].coverURL)){
                <img src="/images/default_release.png" width="150px" height="150px" />
                }else{
                <img src="/images/@Model[i].coverURL" width="150px" height="150px"/>
                }
                <br/><a href="/Record/Index/@Model[i].id/"><b>@Model[i].title</b></a>
                <br/><b>@Model[i].artist</b>
            </td>
    }
    </tr>
    }
</table>