:root {
    --TOFIOrange: #f9a01b;
    --TOFIYellow: #ffcf01;
    --TOFIBlue: #4ec3c7;
    --TOFIBrown: #a64d2c;
}

body {
    margin: 0;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

#MasterTopNavigationBar {
    background-color: #eeeeee;
    height: 100px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

#MasterAccountInfoTopBar {
    text-align: right;
    float: none;
    margin-bottom: 10px;
}

#MasterFooter {
    background-color: #eeeeee;
    font-size: 10px;
    text-align: center;
    border-style: solid none none none;
    border-width: thin;
    border-color: #333333;
    width: 90%;
    height: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1px;
    bottom: 0px;
    position: absolute;
}

.MasterContent {
    margin: auto;
    overflow:scroll;
    border-width: thin;
    border-style: solid;
    border-color: #333333
}

.NavigationButtons {
    background-color: var(--TOFIBlue);
}


